register.bat
server/node_modules/server/node_modules/server/node_modules/server/node_modules/server/node_modules/server/node_modules/server/node_modules/mongoose/lib/helpers/discriminator/checkEmbeddedDiscriminatorKeyProjection.js
node_modules